.container {
    margin-top: 6rem;
    background: #6E57E0;
}

.container .header-wrapper h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 200;
    padding-top: 2rem;
}
.container .header-wrapper p {
    margin-left: 1rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    padding-top: 1rem;
}

.container .social-icons i {
    color: #fff;
    margin-left: 1rem;
    padding-top: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
.container .social-icons i:hover {
    color: #4532a8;
}

.container .copyright p {
    color: #fff;
    margin-left: 1rem;
    text-align: center;
    font-weight: 200;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .container .header-wrapper h1{
        margin-left: 4rem;
        font-size: 2rem;
    }
    .container .header-wrapper p {
        margin-left: 4rem;
        font-size: 1.2rem;
    }
    .container .social-icons  {
        margin-left: 4rem;
    }
    .container .social-icons i  {
        margin: 0;
        padding-right: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .container .header-wrapper h1{
        margin-left: 20%;
        font-size: 2rem;
    }
    .container .header-wrapper p {
        margin-left: 20%;
        font-size: 1.2rem;
    }
    .container .social-icons  {
        margin-left: 20%;
    }
    .container .social-icons i  {
        margin: 0;
        padding-right: 1rem;
    }
}
@media screen and (min-width: 1600px) {
    .container .header-wrapper h1{
        margin-left: 30%;
        font-size: 2rem;
    }
    .container .header-wrapper p {
        margin-left: 30%;
        font-size: 1.2rem;
    }
    .container .social-icons  {
        margin-left: 30%;
    }
    .container .social-icons i  {
        margin: 0;
        padding-right: 1rem;
    }
}