.container {
    margin-top: 6rem;
}

.skills-header {
    color: #202020;
}

.container .skills-header h1 {
    text-align: center;
    font-size: 2.2rem;
}
.container .skills-header p {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    color: #909090;
}
.sills-header_sub {
    color: #909090;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.skills {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
}

.skills__text {
    display: flex;
    justify-content: space-between;
    color: #888888;
    font-size: 1rem;
}

.skills-container {
    background: #cac1f5;
    height: 5px;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
}

.skills-container__value {
    height: 5px;
    background: #6E57E0;
}

.skills-container__value-ps {
    height: 5px;
    background: #6E57E0;
    width: 35%;
}

@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {
    .skills {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;
    }
    .frontend-container {
        width: 40%;
    }
    .designer-container {
        width: 40%;

    }
}
@media screen and (min-width: 1600px) {

}