main .home button {
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    background: #6E57E0;
    border: 1px solid #6E57E0;
    padding: 15px 35px;
    border-radius: 6px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.4s;
}
main .home button a{
    color: #fff;
}
main .home button a:hover{
    color: #202020;
}
main .home button:hover {
    background: transparent;
    color: #202020;
}
